<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Cafe de Rua</h5>
                <p class="grey-text text-lighten-4">Grupo de pessoas dedicado a organização e realização de eventos beneficente sem fins lucrativos.</p>


            </div>
           
            <div class="col l3 s12">
                <h5 class="white-text">Contato</h5>
                <ul>
                  <li><a ><i id="icon" class="fa fa-twitter" aria-hidden="false"></i></a></li>
                  <li><a ><i id="icon" class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a ><i id="icon" class="fa fa-instagram" aria-hidden="true"></i></a></li>
                  
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>