<div class="conteiner">
    <div class="section">

        <div class="row ">

            <div class="col s12 m4">
                <img class="responsive-img z-depth-5" src="assets/img/agasalho.jpg">
                <h3>Evento!</h3>
                <h5 class="light grey-text text-lighten-3">Descrição.</h5>
            </div>
            <div class="col s12 m4">
                <img class="responsive-img z-depth-5" src="assets/img/coletivando.jpg">
                <h3>Evento!</h3>
                <h5 class="light grey-text text-lighten-3">Descrição.</h5>
            </div>
            <div class="col s12 m4">
                <img class="responsive-img z-depth-5" src="assets/img/agasalho.jpg">
                <h3>Evento!</h3>
                <h5 class="light grey-text text-lighten-3">Descrição.</h5>
            </div>
        </div>
    </div>
</div>