nav {
    background-color: orangered;
}

.nav-wrapper {}

#logo {
    border-radius: 100%;
    background-color: orangered;
}

header,
main,
footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}