<div class="navbar-fixed">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Logar</a></li>
        <li><a href="#!">Cadastrar</a></li>
        <li class="divider"></li>
        <li><a href="#!">Visitar</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center"><img id="logo" class="materialboxed responsive-img" style="width:128px;height:80;" src="assets/img/logo.png"></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            
            <ul class="left hide-on-med-and-down">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Participe</a></li>
                <li><a href="#">Equipe</a></li>
            </ul>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#"><i class="material-icons">search</i></a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Logar/Cadastro<i class="material-icons right">arrow_drop_down</i></a></li>
               
            </ul>
            
        </div>
    </nav>
</div>