<div class="slider">
    <ul class="slides">
        <li>
            <img class="responsive-img" src="assets/img/slide1.jpg">
            <!-- random image -->
            <div class="caption center-align">
                <h3 class="orange-text">Faça sua parte!</h3>
                <h5 class="light orange-text text-lighten-3 ">Doe para o Café de Rua.</h5>
            </div>
        </li>

        <li>
            <img class="responsive-img" src="assets/img/slide2.jpg">
            <!-- random image -->
            <div class="caption center-align">
                <h3 class="orange-text">Nós somos!</h3>
                <h5 class="light orange-text text-lighten-3">Café de Rua.</h5>
            </div>
        </li>
    </ul>
</div>